
@{
    ViewData["Title"] = "Create";
}
@model Genre



    <div class="container mt-5">
        <div class="row justify-content-start">
            <div class="col-md-8">
                <form asp-action="create" method="post">
                    <div class="form-group">
                        <label asp-for="Name">Name</label>
                        <input asp-for="Name"  type="text" class="form-control my-2" placeholder="Enter Genre Name">
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>

    </div>




