
@{
    ViewData["Title"] = "ResetPassword";
}


@model ResetPasswordViewModel
<main class="page-section inner-page-sec-padding-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 m-auto mb--30 mb-lg--0">
                <!-- Register Form s-->
                <form action="resetPassword" method="post">
                    <div class="login-form">
                        <h4 class="login-title">Reset password</h4>
                        <div class="row">
                            <input type="hidden" asp-for="Email" value="@TempData["email"]" />
                            <input type="hidden" asp-for="Token" value="@TempData["token"]" />

                            <div class="col-md-12 col-12 mb--15">
                                <label asp-for="Password">Password</label>
                                <input class="mb-0 form-control" asp-for="Password" type="password" 
                                       placeholder="Enter your new Password">
                                <span class="text-danger" asp-validation-for="Password"></span>
                            </div>
                            <div class="col-md-12 col-12 mb--15">
                                <label asp-for="ConfirmPassword">ConfirmPassword</label>
                                <input class="mb-0 form-control" asp-for="ConfirmPassword" type="password" 
                                       placeholder="Confirm Password">
                                <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
                            </div>

                            <div class="col-md-12">
                                <div class="text-danger" asp-validation-summary="ModelOnly"></div>
                                <button type="submit" class="btn btn-outlined">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>

@section Scripts{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.5/jquery.validate.min.js" integrity="sha512-rstIgDs0xPgmG6RX1Aba4KV5cWJbAMcvRCVmglpam9SoHZiUCyQVDdH2LPlxoHtrv17XWblE/V/PP+Tr04hbtA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js" integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

}


